<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>

    <!--Root Logger-->
    <root>
      <level value="ALL" />
    </root>

    <!--Loggers-->
    <logger name="DefaultLogger">
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="FatalSmtpAppender" />
      <appender-ref ref="DefaultFallbackAppender" />
    </logger>

    <!--Appenders-->
    <appender name="DefaultFallbackAppender" type="JohnsonNet.log4net.Appender.FallbackAppender, JohnsonNet.log4net" >
      <appender-ref ref="JohnsonDataAppender" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="EventLogAppender" />
      <mode value="Indefinite" />
    </appender>

    <appender name="JohnsonDataAppender" type="JohnsonNet.log4net.Appender.JohnsonDataAppender, JohnsonNet.log4net">
      <bufferSize value="0" />
      <connectionStringName value="LocalSqlServer" />
      <commandText value="EXEC System.SaveLog @Date = @log_date, @Project = @logger, @Exception = @exception, @Extra = @message" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <applicationName value="Log4NetSample" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%appdomain %environment %date [%thread] %level %logger %message" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="application" />
          <type value="JohnsonNet.log4net.ApplicationPatternConverter, JohnsonNet.log4net" />
        </converter>
        <converter>
          <name value="environment" />
          <type value="JohnsonNet.log4net.EnvironmentPatternConverter, JohnsonNet.log4net" />
        </converter>
        <conversionPattern value="%application %environment %date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="application" />
          <type value="JohnsonNet.log4net.ApplicationPatternConverter, JohnsonNet.log4net" />
        </converter>
        <converter>
          <name value="environment" />
          <type value="JohnsonNet.log4net.EnvironmentPatternConverter, JohnsonNet.log4net" />
        </converter>
        <conversionPattern value="%application %environment %date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="SmtpAppender" type="JohnsonNet.log4net.Appender.JohnsonSmtpAppender, JohnsonNet.log4net">
      <TemplateTypeName value="Test.Console.JohnsonaSmtpAppenderTemplate, Test.Console" />
      <LogMailerPrefix value="" />
    </appender>

    <appender name="FatalSmtpAppender" type="JohnsonNet.log4net.Appender.JohnsonSmtpAppender, JohnsonNet.log4net">
      <threshold value="FATAL"/>
      <TemplateTypeName value="Test.Console.JohnsonSmtpAppenderTemplate, Test.Console" />
      <LogMailerPrefix value="" />
    </appender>
  </log4net>
</configuration>