@{
    string code = this.RequestValue("code");

    if (string.IsNullOrEmpty(code))
    {
        
    }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>a

</body>
</html>
