<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=185.4.209.156,29787;Initial Catalog=Tefal_SocailIntranet;Persist Security Info=True;User ID=sa;Password=QAWSED1q2w3e;Asynchronous Processing=True;Connect Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>