<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="environmentConfig" type="JohnsonNet.Config.EnvironmentConfig,JohnsonNet" />
  </configSections>
  <environmentConfig live="~/Config/Live.config" local="~/Config/Local.config" provider="JohnsonNet.Config.ConfigurationFileProvider">
    <rules type="ComputerName">
      <add environment="Test" param="OGOO-4" />
      <add environment="Test" param="TLT-054-11" />
    </rules>
  </environmentConfig>
  <appSettings>
    <add key="SmtpUser" value="hello@mruky.com" />
    <add key="SmtpPass" value="0zeynepuky." />
    <add key="SmtpPort" value="587" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpEnableSSL" value="True" />
  </appSettings>
</configuration>